@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}
nav {
    text-align: right;
    margin-right: 1rem;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7 );
    display: flex;
    margin-top: 1rem;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(129, 102, 87, 0.624);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #F39209;
    text-shadow: 1px 1px 2px rgba(160, 96, 6, 0.761);
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}

